button {
    display: block;
    width: auto;
    height: 25px;
    background: #009879;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    margin-right: 10px;
}
.pagination{
    display: flex;
    justify-content: center;
    
    padding: 20px;

}
li{list-style-type: none;}